*{
    margin: 0px;
    padding: 0px;
}

.output-tabs {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50vh;
}

.task-desc {
    background-color: #1e1e1e;
    padding: 30px;
    border-right: 1px solid black;
}

.output {
    padding: 30px;
    background-color: #1e1e1e;
}

p {
    color: white;
}